.submission-forms {
    border-radius: 20px !important;
}

@media screen and (min-width: 1000px) {
    .full-width {
        width: 100%;
    }
}

.description {
    overflow-wrap: break-word;
}

.wrong-credentials {
    color: red;
    font-weight: bold;
    display: visible;
}

.invisible {
    display: none;
}
