.navbar {
    background-color: #263238 !important;
}

.top-nav-collapse {
    background-color: #3F729B;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #3F729B;
    }
}
